@import "tailwindcss";
@config "../../tailwind.config.cjs";
@plugin "@tailwindcss/forms";
@plugin "@tailwindcss/typography";
@custom-variant dark (&:is(.dark *));

.task-list-item::before {
    display: none;
}

.task-list-item {
    list-style-type: none;
}

.footnotes {
    margin-top: 3rem;
    border-top: 1px solid rgb(229 231 235);
    padding-top: 2rem;
}

.dark .footnotes {
    border-top-color: rgb(55 65 81);
}

.data-footnote-backref {
    text-decoration: none;
}

.csl-entry {
    margin-bottom: 1.25rem;
    margin-top: 1.25rem;
}

/* https://stackoverflow.com/questions/61083813/how-to-avoid-internal-autofill-selected-style-to-be-applied */
input:-webkit-autofill,
input:-webkit-autofill:focus {
    transition: background-color 600000s 0s,
    color 600000s 0s;
}

/* Add these styles */
.prose {
  max-width: none;
}

.prose p {
  margin-top: 1.25em;
  margin-bottom: 1.25em;
}

.prose h1,
.prose h2,
.prose h3,
.prose h4,
.prose h5,
.prose h6 {
  margin-top: 2em;
  margin-bottom: 1em;
}

.prose ul,
.prose ol {
  margin-top: 1.25em;
  margin-bottom: 1.25em;
}